{{- if ne .chezmoi.os "windows" }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{- end }}
[user]
	email = {{ .email }}
	name = Nic Masters
