{{- if ne .chezmoi.os "windows" }}
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
{{- end }}
[user]
	email = {{ .email }}
	name = Nic Masters
[credential]
	helper = manager

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3
{{- if ne .chezmoi.os "windows" }}
    tool = ec
{{- else }}
    tool = bc
{{- end }}

{{- if ne .chezmoi.os "windows" }}
[mergetool "ec"]
    cmd = ec "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = true
{{- else }}
[mergetool "bc"]
    path = C:/Program Files/Beyond Compare 4/bcomp.exe
    trustExitCode = true
[diff]
    tool = bc
[difftool "bc"]
    path = C:/Program Files/Beyond Compare 4/bcomp.exe
{{- end }}
