os:
  editPreset: "vscode"
promptToReturnFromSubprocess: false # removes "press enter to return to lazygit" popup

git:
  branchPrefix: "user/nmasters/"
  diffRenderers:
    - command: delta --dark --paging=never
gui:
  nerdFontsVersion: "3"
