# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'
command_timeout = 500

[directory]
truncate_to_repo=false

[git_status]
ignore_submodules = true
untracked = ""

[azure]
disabled = false
format = 'on [$symbol($subscription)]($style) '
symbol = '󰠅 '
style = 'blue bold'


[azure.subscription_aliases]
"Azure Dev subscription" = 'dev'
"Azure Live subscription" = 'LIVE'
