# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'
command_timeout = 5000

[directory]
truncate_to_repo=false

[git_status]
ignore_submodules = true
untracked = ""

[azure]
disabled = false
format = 'on [$symbol($subscription)]($style) '
symbol = '󰠅 '
style = 'blue bold'

[azure.subscription_aliases]
"Azure Dev subscription" = 'dev'
"Azure Live subscription" = 'LIVE'

# [custom.vpn]
# description = "Shows connected VPN name when a Windows VPN connection is active"
# command = "Get-VpnConnection -ErrorAction SilentlyContinue | Select-Object -First 1 -ExpandProperty Name"
# when = "[bool](Get-VpnConnection -ErrorAction SilentlyContinue | Where-Object { $_.ConnectionStatus -eq 'Connected' })"
# shell = ["pwsh", "-NoProfile", "-Command", "-"]
# format = "[🔒 $output]($style) "
# style = "bold green"

[shell]
fish_indicator = '󰈺 '
powershell_indicator = '_'
zsh_indicator = 'z'
unknown_indicator = '?'
style = 'cyan bold'
disabled = true
